@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@473&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-weight: normal;
  background-color: #FFFBFF;
  font-family: "Public Sans", sans-serif;
  font-weight: 800;
  font-style:normal;
  margin:0;
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } 
}*/
